.blocks {

    padding: 5rem 0;
    margin-bottom: 4rem;

    h2 {
        color: $color-01;
    }

    ul {
        list-style-type: none;
        font-size: $font-small; // chama a
        display: flex;
        justify-content: space-between;
        height: 250px;
        padding: 1rem 0;
        width: 100%;
    }

    li {
        color: #772727;
        display: block;
        margin: $space-default auto;
        width: 30%;
        
        .img-container {
            display: block;
            height: 200px;
            overflow: hidden;
            width: 100%;
            img{
                width: 380px;
                -webkit-transition: 2s ease-in-out;
                transition: 2s ease-in-out;
            }
            img:hover{
                width:400px;
            }
        }

        a {
            background-color: #772727;
            border-radius: 5px;
            color: white;
            display: block;
            font-size: $font-medium;
            margin: $mt-02 auto $mb;
            padding: 4px 8px;
            text-align: center;
            text-decoration: none;
        }
    }

}