%blocks {

    padding: 5rem 0;
    margin-bottom: 4rem;

    h2 {
        color: $color-01;
    }

    ul {
        list-style-type: none;
        font-size: $font-small; // chama a
        display: flex;
        justify-content: space-between;
        height: 250px;
        padding: 1rem 0;
        width: 100%;
        @media(max-width: $tablet){
           
            flex-direction: column;
            height:auto;

        }

    }

    li {
        color: $color-02;
        display: block;
        margin: $space-default auto;
        width: 30%;
        
        .img-container {
            display: block;
            height: 200px;
            overflow: hidden;
            width: 100%;

            @media(max-width:$tablet){
                height:calc(90vh/5);
            }

            img{
               @media(min-width:$ipad){
                -webkit-transition: 2s ease-in-out;
                transition: 2s ease-in-out;
                &:hover{
                    width:400px;
                }
               }   
                 width:100%;
                 transition-property: none;
        
            }
        }

        a {
            background-color: $color-01;
            border-radius: 5px;
            color: white;
            display: block;
            font-size: $font-medium;
            margin: $mt-02 auto $mb;
            padding: 4px 8px;
            text-align: center;
            text-decoration: none;
        }
    }
    @media(max-width: $tablet){
        margin-bottom: 0rem;
    }

}