.cars {
    h2 {
        color: $color-02;
    }
    li {
        color: $color-04;

        a {
            background-color: rgb(182, 41, 41);
        }
    }
}//identação que não funciona se for escrito dessa maneira no css